
.book-profile-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  color: #000000;
  font-family: "Segoe UI", sans-serif;
}


.book-profile-card {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  background: #ead7d2;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}


.book-image-section {
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-image-section img {
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
  object-fit: cover;
}


.image-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.wishlist-btn {
  background: transparent;
  border: none;
  color: #ffcc00;
  font-size: 1.8rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.wishlist-btn.active {
  color: #ff9900;
}

.wishlist-btn:hover {
  transform: scale(1.2);
}

.cart-btn {
  background: #007bff;
  color: #000000;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background 0.2s;
}

.cart-btn:hover {
  background: #014792;
}


.book-details-section {
  flex: 2 1 450px;
  display: flex;
  flex-direction: column;
}

.book-title {
  font-size: 4px;
  color: #2e2604; 
  margin-bottom: 10px;
}

.book-author {
  font-size: 1.3rem;
  color: #000000;
  margin-bottom: 15px;
}


.book-meta {
  display: flex;
  flex-direction: column;

  margin-bottom: 15px;
  font-size: 1.1rem;
}

.meta-item {
  color: #0139e2; 
}


.price-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.original-price {
  text-decoration: line-through;
  color: #148021;
  font-size: 1rem;
}

.discount {
  display: flex;
  align-items: center;
  color: #919291;
  gap: 4px;
  font-weight: 600;
}

.discount-icon {
  font-size: 1rem;
}


.rating {
  color: #eefb00;
  font-size: 13rem;
  margin-bottom: 15px;
}


.book-description h3 {
  font-size: 1.5rem;
  color: #5c4a01;
  margin-bottom: 6px;
}

.book-description p {
  font-size: 1.05rem;
  line-height: 1.6;
  color: #000000;
}


@media(max-width: 700px) {
  .book-profile-card {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .book-image-section img {
    max-width: 200px;
  }

  .book-title {
    font-size: 3rem;
    text-align: center;
  }
  .rating{
    font-size: 25rem;
    text-align: center;
  }

  .book-author {
    font-size: 1.3rem;
    text-align: center;
  }

  .book-meta {
    align-items: center;
    font-size: 1rem;
  }

  .price-section {
    justify-content: center;
    font-size: 1.2rem;
  }

  .book-description h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .book-description p {
    font-size: 1rem;
    text-align: center;
  }
}