/* MAIN CONTAINER */
.wishlist-container {
  padding: 0.5rem;
}

.wishlist-heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: #00224f;
  margin-bottom: 1.5rem;
}

/* GRID - DESKTOP */
.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 1.5rem;
}

/* CARD */
.wishlist-card {
  background: #fff;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 3px 10px rgba(0,0,0,0.12);
  text-align: center;
  transition: 0.3s ease;
}

.wishlist-card:hover {
  transform: translateY(-5px);
}

/* IMAGE */
.wishlist-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

/* Title + Author */
.wishlist-card h3 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.1rem;
}

.wishlist-card .author {
  color: #000000;
  font-size: 0.9rem;
  margin-top: 3px;
}

/* BUTTONS */
.wishlist-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}

.wishlist-btns button {
  flex: 1;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
}

/* Green for Move to Cart */
.wishlist-btns button:first-child {
  background: #006196;
  color: #fff;
}
.wishlist-btns button:first-child:hover{
  color: #00224f;
}


/* Red for Remove */
.wishlist-btns button:last-child {
  background: #d32f2f;
  color: #fff;
}
.wishlist-btns button:last-child:hover{
  color: #430f0f;
}

.wishlist-empty {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.5rem;
  color: #666;
}

/* --------------------------- */
/* RESPONSIVE FOR TABLETS */
/* --------------------------- */
@media (max-width: 1024px) {
  .wishlist-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.2rem;
  }

  .wishlist-card img {
    height: 160px;
  }
}


@media (max-width: 768px) {
  .wishlist-grid {
    grid-template-columns: 1fr; /* single row */
  }

  .wishlist-card {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 12px;
    text-align: left;
  }

  .wishlist-card img {
    width: 90px;
    height: 110px;
    object-fit: cover;
    border-radius: 6px;
  }

  .wishlist-info {
    display: flex;
    flex-direction: column;  
    flex: 1;
  }

  .wishlist-btns {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .wishlist-btns button {
    width: 100px;
    padding: 6px 8px;
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .wishlist-card img {
    width: 85px;
    height: 120px;
  }

  .wishlist-btns {
    width: 100px;
  }
}